*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.primer-div{
    background-color: green;
    border: solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

}
h2{
    color: red;
}
p{
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(/semana5_pw/img_valdi.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed; /* Mantiene la imagen en su lugar mientras se desplaza la página */
}